@{
    ViewData["Title"] = "HRM - Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {

}

<!-- BEGIN: Breadcrumb -->

<!-- END: BreadCrumb -->
<div class=" space-y-5">
    <h6>Your Content...</h6>
</div>

